body {
    margin: 0;
}

.mainbackground {
    background-image: url('/assets/images/plainbackground.png');
}

nav {
    width: 100%;
    height: 51px;
    background-color: #0198a9;
  
}

.logo-links {
    display: flex;
    justify-content: right;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60px);
    flex-direction: column;
}

.doors {
    display: inline-flex;
}

.doorL {
    justify-content: right;
}

.doorL,
.doorR {
    display: flex;
    width: 100%;
}

#explore {
    background-color: #f280ac;
    font-size: 2em;
    color: white;
}

.opendoor {
    display: flex;
    justify-content: center;
}
 /*-------------------------------------------------------beach scene---------------*/

 .loadingbeach {
    width: 100%;
    height: 531px;
}

.beach-scene {
    width: 0px;
    height: 100%;
    object-fit: cover;
}

.airplane {
    height: 50px;
    width: 100%;
    position: absolute;
    top: 20%;
    left: 75%;
    opacity: 0;
}

#video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
}

.video-controls {
    height: 480px;
}

#playVideo {
    position: absolute;
    top: 50%;
    left: 45%;
}

.containerVideo {
    background-color: rgba(0,0,0,0.72);
    
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}


.ctaButton {
    font-size: 1.5em;
    background-color: #f280ac;
    color: white;
    border: 1px solid #1e12b0;
    opacity: 0;
    position: relative;
}

/*------------------------------------------------Animations below-----------------*/
.revealdoors {
    animation-name: revealdoors;
    animation-duration: 3s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

@keyframes revealdoors {
    0% {
        width: 0px;
    }

    100% {
        width: 932px;
    }
}


.fly {
    animation-name: fly;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-fill-mode: forwards;
}

@keyframes fly {
    0% {
        transform: translateX(-15%);
        opacity: 0;
    }
    10%, 90% {
        opacity: 1;
    }

    100% {
        transform: translateX(-65%);
        opacity: 0;
    }
}

.zoom {
    animation-name: zoomInOut;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
}

@keyframes zoomInOut {
    0% {
        transform: scale(0.2);
        opacity: 0;
    }
    50% {
        transform: scale(1.5);
        opacity: 1;
    }
    100% {
        transform: scale(1);
    }
}